.header {
	width: 100%;
	margin-bottom: 32px;
	background-color: #3b3b3b;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
	max-width: calc(1280px + 140px);
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 0 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
	font-family: "Pixellari";
	font-size: 18px;
	position: relative;
}

.header__home {
	position: absolute;
	left: 70px;
}

.points {
	color: white;
}